@charset "utf-8";

body {
	background-color: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
	color: burlywood;
	text-align: center;
}

h2 {
	color: blanchedalmond;
	text-align: center;
}

h3 {
	color: bisque
}

h4 {
	color: wheat;
}

p {
	text-align: justify;
}

.caixa {
	border-width: 8px;
	border-color: rgb(110, 0, 0);
	border-style: outset;
	padding: 10px;
	margin: 5px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.caixinha {
	margin: 25px;
}